body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255) !important;
  
}

:root {
  --bs-body-font-family: "Georama", serif !important;
  
}

h1 h2 {
  font-weight: 700;
  /* Negrita */
  color: #f8f9fa !important;
}

p {
  font-weight: 400;
  /* Peso normal */
  

}



#nosotros{
  text-align: center;
  margin: auto;
  background-image: url("fotos/aire4.webp");
  height: 950px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /* Necesario para posicionar la capa semitransparente */
}
 /* Capa semitransparente */
 #nosotros::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.425); /* Fondo negro semitransparente */
  z-index: 0; /* Coloca la capa detrás del contenido */
}
#nosotros h1 {
  color: white !important;
  font-size: 3em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  position: relative; /* Asegura que el texto esté sobre la capa */
  z-index: 1; /* Coloca el texto sobre la capa semitransparente */
  padding-top: 200px;
}#nosotros p {
  color: white !important;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  position: relative; /* Asegura que el texto esté sobre la capa */
  z-index: 1; /* Coloca el texto sobre la capa semitransparente */
  
}

#nosotros a{
  text-decoration: none;
  color: white;
  
  position: relative;
  z-index: 1;
  background-color: #036ffc;
  padding: 20px;
  border-radius: 8px;
 
}
#nosotros a:hover{
  background-color: #00306e;
}

.container-fluid a {
  justify-items: center;
}

.logo img {
  width: 120px;
  height: 120px;
  border-radius: 5px;
}

.barra {
  background-color: rgb(31, 32, 32);
  display: flex;
  justify-content: center;
  padding: 10px;
  box-shadow: 0px 5px 11px -3px rgba(0, 0, 0, 0.67);
}

nav{
  background-color: #171718cb!important;
  color: black;
}

nav a {
  color: rgb(255, 255, 255) !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin: 0 15px;
  text-decoration: none;
  
}

.nav-link:hover {
  opacity: 1;
}

.navbar {
  transition: top 0.3s;
}

.menu {
  justify-content: center;
  float: left;
}


/* Estilos para los iconos en el navbar */
.nav-icons {
  font-size: 1.5rem;
  margin-right: 10px;
  color: white;
}

.iconos-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0;
  margin: 0 auto;
  justify-items: center;

}

.menu a:hover {
  color: #7d8bdb !important;
}

.presentacion {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(300px, 1fr));
  gap: 10px;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

.presentacion img {
  width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}

.QuienesSomos {
  text-align: left;
}




/* Sección "Nuestras Redes" */
.social-section {
  text-align: center;
  justify-items: center;
  margin-top: 10px;

  
  
}
#redes{
  background-color: #d2d1d6a4 !important;
}
.social-icons a {
  font-size: 100px;
  margin: 0 15px;
  color: #00306e;
  
  
}

.social-icons-footer a {
  font-size: 100px;
  margin: 0 15px;
  color: #333;
}

.social-icons a :hover {
  color:  #202020;
}

/* Footer */
.footer {
  background-color: #171718!important;;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.footer .social-icons a {
  font-size: 1.8rem;
  margin: 0 10px;
  color: white;
}

.footer .social-icons-footer a {
  font-size: 1.8rem;
  margin: 0 10px;
  color: white;
}

.social-icons-footer a:hover {
  color: #7d8bdb;
}





.titulo {
  font-size: 20px;
  margin-left: 5px;
}

.collapse {
  font-size: 18px;
}


section {
  padding: 20px;
}

/* Estilos básicos para el contenedor del carrusel */

.swiper-container {
  
  width: 100vw;
  max-width: 80%;
  overflow: scroll;

  /* Ancho máximo del 80% del contenedor */
  margin: 0 auto;
  /* Centrar el carrusel */
  padding: 5px 0;
  /* Espaciado vertical */
  
  position: relative;

}

/* Estilos para las imágenes */
.swiper-slide img {
  width: 100%;
  padding: 20px;
  height: 500px;
  max-width: 500px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  /* Bordes redondeados */
}

/* Estilos para los botones de navegación */
.swiper-button-next,
.swiper-button-prev {
  color: rgb(14, 13, 13) !important;
  /* Color de las flechas */
  /* Fondo semitransparente */
 
  display: block;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}
.swiper-button-next{
  right: 10px;
}
.swiper-button-prev {
  left: 10px;
}



/* Estilos para la paginación */
.swiper-pagination-bullet {
  background: rgb(2, 2, 2);
  /* Color de los puntos de paginación */
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

/* Espaciado entre diapositivas */
.swiper-slide {
  margin-right: 10px;
  /* Separación de 10px entre diapositivas */
}

/* Estilos para el modal */
.modal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.849); /* Fondo oscuro semitransparente */
  justify-content: center;
  align-items: center;
}

.modal img {
  width: 400px;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.modal.active {
  display: flex; /* Mostrar el modal cuando tiene la clase "active" */
}

/* Botón para cerrar el modal */
.close-modal {
  position: absolute;
  top: 115px;
  right: 4px;
  color: rgb(244, 247, 244);
  font-size: 40px;
  cursor: pointer;
  padding: 5px;
}

/* Cartas */
.cartas {
  margin-top: 80px;
}

.container-cards {


  display: grid;
  grid-template-columns: 1fr;
  
  margin: 0 auto;
  justify-items: center !important;
 
}

.card {
  width: 80%;
  height: auto;
  border-radius:8px;
  justify-content: center;
  align-items: center;
  
}
.card img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  justify-items: center;
  align-items: center;
  text-align: center;
}



.formulario {
  text-align: center;
  margin: auto;
  max-width: 400px;
  text-align: justify;
  color: white;
 background-color: #202020 ;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:  #036ffc;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;

}

.whatsapp-float:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.whatsapp-float i {
  font-size: 30px;
}

.padding {
  margin-top: 10px;
}


#contacto a i {
  color: rgb(49, 49, 49);
  font-size: 18px;
  
}
#contacto {
  text-align: center;
}

#contacto a {
  text-decoration: none;

}
.container-marcas{
  background-color: #d2d1d6a4 !important;
  
}
.container-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit,
      minmax(300px, 1fr)) !important;
  gap: 10px;
  max-width: 1000px;
  margin: 0 auto;
  justify-items: center;
}

.container-logos img {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

#mensaje {
  display: none;
  color: green;
  margin-top: 10px;

}

.container-contacto{
  display: grid;
  grid-template-columns: repeat(auto-fit,
  minmax(300px, 1fr));
  gap: 10px;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}




footer {
  background-color: #00306e !important;
  color: white;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  height: 150px;
}